html,
body {
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center;
  background: red;
  font-family: monospace;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  gap: 15px;
  border-radius: 7px;
  background: #fff;
}

.menu li {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
}

.menu li:hover {
  background: black;
  color: white;
}
